 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

 *{
    margin: 0;
    padding: 0;
    border:none;
 }
body{
    font-family: lato , 'sans-serif';
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and logo */
h1, h2{
    font-family: lato , 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;
    color:#252525
}

#logo{
    float:left;
    font-size: 280%;/*% so that the font size remain relative to any screen size*/
    margin-left: 30px;/*So that logo that is actually Love Running text stops hugging left of page*/
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li{
    float : right;
    margin-right: 30px;
    list-style: none;
}

#menu , #logo{
    line-height: 75px; /* This gives both side of equal height from top and bottom of 75px */
}

#menu a{
    text-decoration: none;
    color:inherit; /* Color is inhertid from its parent body*/
}

#menu a:hover{
    border-bottom: 1px solid #3a3a3a;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}
/* Header is finished*/

/* Hero Image */

#hero-outer{
    width: 100%;
    height: 600px;
    overflow: hidden; /*Removes the overflow of below metioned image in header BUT we could still acheive it by writing overflow in hero-image*/

    position: relative;
}

#cover-text, #cover-text h2{
    color: #fff;
}

#hero-image{
    width: 100%;
    height: 600px;
    background: #c3c3c3 url('../images/hero-image.webp') center center no-repeat;

    /*Animate zoom effect on page load*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* NEW: Create the zoom effect for the hero-image, Our animation will use scale transform to increase the image size */
@keyframes hero-zoom {
    from{
        transform : scale(1); /*set our image 100% of its orignal size*/ 
    }
    to{
        transform: scale(1.1);/*To 110%*/
    }
}
/*Cover text on hero-image background*/
#cover-text{
    font-size: 130%;
    font-family: Oswald,'sans-serif';
    text-transform: uppercase;
    letter-spacing: 4px;

    width:300px;
    height:200px;

    padding-top: 40px;
    padding-left: 10px;
    background-color: rgba(241, 109, 107, .7);

    bottom: 30px;
    right: 150px;

    position: absolute; /* But posotion is fixed relative to entire screen which is default behaviour, The parent of both cover0text and hero-image is 
    hero-outer we will add position:relative to this in css SO THAT child containers can set their absolute postions to it*/
}

/* Club ethos*/

#club-ethos{
    height: 600px; /*Same as the hero-image*/
}

#left-about{
    padding-top: 30px;
    width:33%;
    float:left;
}

#right-about{
    padding-top: 30px;
    width:33%;
    float:right;
}

#center-about{
    width:33%;
    margin: 0 auto;
}

hr{
    border-top: 1px solid #3a3a3a;
    width:100%;
    margin:5px 0;
}

.left-about-heading{
    width: 60%;
    float:right;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}
.right-about-heading{
    width: 60%;
    float:left;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
}

.right-about-heading h2{
    text-align: right;
}
.right-about-heading p{
    text-align: right;
}

#welcome{
    text-align: center;
    margin:20px 0;
    font-size: 280%;
}

/*Need parent child circular container to male inner and outer circle*/
#circle-container{
    width: 300px;
    height:300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%; /*Only works with eqal width and height container in short squares*/
    margin:0 auto; /*Once again we center the circle*/

}

#circle-cover-bg {
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    height: 100%; /*Need to add height else image wont show up,common mistake for new devlopers make*/
    border-radius: 50%;
}

/*Event Times*/

#times{
    background: url('../images/dublin-city.webp') no-repeat center;
    background-size: cover; /*Cover things that are inside times id element section*/
    width: 100%;
    overflow: hidden;
}